{% extends "base.html" %}

{% block content %} 
<div class ="auth-container">
    <div class="auth-card">
        <h2>Create Account </h2>
        <p class = "sub-text">
            Start your journey with AI Career Copilot by creating an account. Sign up now to access personalized resume building, career guidance, and more. Join our community of professionals and take the first step towards your dream career!

        </p> 
        <form method="post">
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="Password" required>
            <p class ="sub-text"> use at least 8 characters</p>
            <button type="submit">Sign Up</button>
        </form>   
        <p class="switch-auth">Already have an account? <a href="/login">Login here</a></p>
    </div>
</div>
{% endblock %}
